.App {
  text-align: center;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AppButton {
  border: 0;
  color: #61dafb;
}